html {
    scroll-behavior: smooth;
  }  

body {
    background-color: black;
    margin: 0;
    font-family: "Roboto";
}
.navbar {
position: fixed;
width: 100%;
z-index: 100;
background-color: transparent;
}

/*Columnas*/
h2
{
    color:white;
    font-weight: 700;
}

.columna-banner {
    background-color: #06cdee;
    color: white;
}
.columnas-texto
{
    font-size: 21px;
    color: white;
}

.fa-plane {
    font-size: 20px;
    color: white;
}

.fa-mountain {
    font-size: 20px;
    color: white;
}

.fa-route {
    font-size: 20px;
    color: white;
}

.tooltip-inner {
    background-color: white;
    color: black;
    font-family: "Roboto";
}
.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
    border-width: 5px 5px 0;
    border-top-color: white;
}
.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    border-width: 0 5px 5px;
    border-bottom-color:white;
}

/*Cards*/

h5 {
    color: white;
}

.card-text {
    font-size: 21px;
    color: white;
}

.card-body {
    background-color: #06cdee;
}

/*Formulario*/

label {
    color: white;
    font-size: 21px;
}

/*Footer*/

footer {
    background-color: #06cdee;
    font-family: "Roboto";
    height: 5rem;
}

.iconos-footer {
    font-size: 25px;
    color: white;
}
