body {
    background-color: black;
    margin: 0;
    font-family: "Roboto";
}
.navbar {
position: fixed;
z-index: 1;
width: 100%;
}

/*Columnas*/
h2
{
    color:white;
    font-weight: 700;
}

.columna-banner {
    background-color: #06cdee;
}
.columnas-texto
{
    font-size: 21px;
    color: white;
}

.fa-plane {
    font-size: 20px;
    color: white;
}

.fa-mountain {
    font-size: 20px;
}

.fa-route {
    font-size: 20px;
}

/*Cards*/

h5 {
    color: white;
}

.card-text {
    font-size: 21px;
    color: white;
}

.card-body {
    background-color: #06cdee;
}

/*Formulario*/

label {
    color: white;
    font-size: 21px;
}

